*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
    width: 100%;
    height: 65px;
    background: #4E4E4E;
    left: 0;
    top: 0;
    position: fixed;
}
.container{
    max-width: 1100px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 65px;
    color: white;
}
.menu{
    float: right;
    line-height: 65px;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu a{
    display: block;
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
}
.menu a:hover{
    background: #cc673b;
    color: #fff;
}
.menu .submenu{
    background: #6A6868;
    box-shadow: 3px 10px 10px rgba(0,0,0,0.2);
    display: none;
}
.menu .submenu li a{
    line-height: 50px;
}
.menu ul li a:hover + ul, .menu .submenu:hover{
    display: block;
}
/*estilos para la portada*/
.content-all{
    width: 100%;
    max-width: 1000px;
    background: #4E4E4E;
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
}

.content-all article{
    padding: 40px;
}

.content-all article p{
    text-align: justify;
    font-family: Arial
}

.content-all article h1{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin-top: 20px;
}

.content-all article .parrafo1{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}

.content-all article .parrafo2{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 1px;
}

.content-all article img{
    width: 100%;
    border: 4px solid white;
    margin-top: 40px;
}
